<div class="bg-white p-4 mx-4 rounded-xl shadow-md overflow-x-auto max-h-50 overflow-y-scroll">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th class="py-3 px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">カテゴリ</th>
        <th class="py-3 px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">食材名</th>
        <th class="py-3 px-6 text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <% @foods.each do |food| %>
        <tr>
          <td class="py-4 px-6 whitespace-nowrap">
            <%= image_tag food.category.icon, class: "h-6 w-6" %>
          </td>
          <td class="py-4 px-6 whitespace-nowrap"><%= food.food_name %></td>
          <td class="py-4 px-6 whitespace-nowrap text-right text-sm font-medium">
            <a href="#" class="text-indigo-600 hover:text-indigo-900">詳細</a>
          </td>
        </tr>
      <% end %>
      </tbody>
  </table>
</div>