@import "tailwindcss";
@layer utilities {
  @keyframes fall {
    0% {
      transform: translateY(-10%) rotate(0deg);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    100% {
      transform: translateY(110vh) rotate(360deg);
      opacity: 0;
    }
  }

  .animate-fall {
    animation: fall 6s linear forwards;
  }
}